{% extends 'polls/layout.html' %}

{% block content %}
    <h1 class="display-4">{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for choice in question.choice_set.all %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    </div>
                </div>
            <label class="form-control" for="choice{{ forloop.counter }}" >{{ choice.choice_text }}</label><br>
            </div>


        {% endfor %}
        </div>

    <input class="btn btn-primary" type="submit" value="vote">

    </form>

{% endblock %}