{% extends 'polls/layout.html' %}
{% block content %}
    <form action="{% url 'polls:your-name' %}" method="post">
        {% csrf_token %}
        <label for="your_name">Your name: </label>
{#        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">#}
        <input id="your_name" type="text" name="your_name" >
        <input type="submit" value="OK">
    </form>
{% endblock %}