{% extends 'polls/layout.html' %}

{% block content %}
    <h1 class="card-header"><a
            href="https://docs.djangoproject.com/en/3.2/intro/tutorial07/">
        Customize the admin look and feel
    </a></h1>

    <h1><a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication#logout_template">
        Logout Template</a></h1>

    <br>

    {% if latest_question_list %}
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Published Date</th>

            </tr>
            </thead>
            <tbody>

            {% for q in latest_question_list %}
                <tr>
                    <td scope="row"> {{ forloop.counter }}</td>
                    <td><a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a></td>
                    <td>{{ q.pub_date }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>

    {% else %}
        <h1 class="bg-info">No polls are available.</h1>
    {% endif %}

{% endblock %}