﻿{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Django App</title>

    <link rel="stylesheet" href="{% static 'polls/lib/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'polls/css/site.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/polls/">光アルファクス</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="">API Call</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/polls/enter-name">Enter Name</a>
                    </li>
                </ul>

                <div class="text-white">

                    {% if user.is_authenticated %}
                        <p>Hello, {{ user.get_username }} | <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></p>
                    {% else %}
                        <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a> </p>
                    {% endif %}


                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        {% block content %}
        {% endblock %}
    </main>
</div>

<footer class="border-top footer text-white bg-footer">
    <div class="container">
        &copy; 2021 - Django App - <a href="">Privacy</a>
    </div>
</footer>

<script src="{% static 'polls/lib/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'polls/lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'polls/js/site.js' %}"></script>

</body>
</html>
