{% extends 'polls/layout.html' %}

{% block content %}

    <h1 class="display-4">{{ question.question_text }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Choices</th>
            <th scope="col">Vote Count</th>

        </tr>
        </thead>
        <tbody>

        {% for choice in question.choice_set.all %}
            {#                <li><a href="/pollapp/{{ q.id }}">{{ q.question_text }}</a></li>#}
            <tr>
                <th scope="row"> {{ forloop.counter }}</th>
                <td>{{ choice.choice_text }}</td>
                <td>{{ choice.votes }} vote{{ choice.votes|pluralize }}</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>


    <a class="btn btn-secondary" href="{% url 'polls:detail' question.id %}">Vote again?</a>
{% endblock %}
