{% extends 'polls/layout.html' %}

{% block content %}

    <form action="" method="post">

    </form>

    <br>

    {% if latest_question_list %}
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Published Date</th>

            </tr>
            </thead>
            <tbody>

            {% for q in latest_question_list %}
                <tr>
                    <th scope="row"> {{ forloop.counter }}</th>
                    <td><a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a></td>
                    <td>{{ q.pub_date }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>

    {% else %}
        <h1 class="bg-info">No polls are available.</h1>
    {% endif %}
{% endblock %}