{% extends 'polls/layout.html' %}
{% block content %}
    {% if the_name %}
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Value</th>


            </tr>
            </thead>
            <tbody>
                <td scope="row">Your Name</td>
                <td>{{ the_name }}</td>

            </tbody>
        </table>
    {% else %}
        <h1 class="alert-warning">There were no name entered!</h1>
    {% endif %}
{% endblock %}