{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JnJ ログイン</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'managing/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'managing/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">ようこそ!</h1>
                                    </div>
                                    <form class="user" id="login-form" action="{% url 'login' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="{{ form.username.id_for_label }}" class="label">ユーザー名</label>
                                            <input type="text" class="form-control form-control-user"
                                                   name="username"  autocomplete="username"
                                                id="{{ form.username.id_for_label }}" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." value="{{ form.username.value |default_if_none:"" }}">


                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.password.id_for_label }}" class="label">パスワード</label>
                                            <input type="password"  name="password" autocomplete="current-passwords" class="form-control form-control-user"
                                                id="{{ form.password.id_for_label }}" placeholder="Password..."
                                                value="{{ form.password.value| default_if_none:""}}">

                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">記憶</label>
                                            </div>
                                        </div>
                                        <input type="submit" name="submit" class="btn btn-primary btn-user btn-block" value="ログイン">
                                        </input>
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Googleでログイン
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i>Facebookでログイン
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">パスワード忘れ?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">アカウント作成!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'managing/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'managing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'managing/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'managing/js/sb-admin-2.min.js' %}"></script>

</body>

</html>