{% extends 'polls/layout.html' %}

{% block content %}

    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        {% if form.errors %}
            <p class="alert-warning">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">{{ form.username.label_tag }}</label><br>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">{{ form.password.label_tag }}</label><br>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Login">
                                <p class="password-reset-link"><a href="{% url 'password_reset' %}">Lost password?</a></p>
                            </div>
                            <div id="register-link" class="text-right">

                                <a href="" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}