{% extends 'managing/_layout.html' %}

{% block content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">K-ERPとは</h1>
    <div class="card shadow mb-1">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">定義</h6>
        </div>
        <div class="card-body">
            <p><code>企業</code> のため、そして<code>ユーザー</code>のための初の<code>K</code>が含まれている<code>ERPシステム</code>でございます。
                <br>
                これからERPは恐ろしいものではありません。</p>
            <a href="#" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                <span class="text">1K - 簡単</span>
            </a>
            <div class="my-2"></div>
            <a href="#" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                <span class="text">2K - 効率</span>
            </a>
            <div class="my-2"></div>
            <a href="#" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                <span class="text">3K - 確実</span>
            </a>
            <div class="my-2"></div>
            <a href="#" class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                <span class="text">4K - カスタマイズ</span>
            </a>


        </div>
    </div>


{% endblock %}