{% extends 'managing/_layout.html' %}

{% block content %}

    {% if 'sel_comp' in request.session %}
        <h1>{{ request.session.sel_comp }}のデータへようこそ！</h1>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th style="text-align:left !important;background:#FFD !important;">
                            <span style="display:none;">Schedule in </span>October 2021
                        </th>
                        {% for each_day in this_month %}
                            <th>{{ each_day.day }}</th>
                        {% endfor %}

                    </tr>
                    <tr class="weekdays">
                        <td>Weekday</td>
                        {% for each_day in this_month %}
                            <td>{{ each_day.weekday }}</td>
                        {% endfor %}

                    </tr>
                    <tr>
                        <td><a href="/calendar">Jack Franklin</a></td>
                        {% for each_day in this_month %}
                            <td style="text-align: center;">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#assignModal">

                                    ○
                                </a>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><a href="/calendar">Jake Nguyen</a></td>
                        {% for each_day in this_month %}
                            <td style="text-align: center;">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#assignModal">

                                    ○
                                </a>
                            </td>
                        {% endfor %}
                    </tr>

                    </thead>
                </table>
            </div>
        </div>


        <!-- Assign Modal-->
        <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        {#                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>#}
                        <h5 class="modal-title" id="exampleModalLabel">Booking</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    {#                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>#}
                    <div class="modal-body">
                        <div>
                            <label>名前</label>
                            <div>name_variable</div>
                        </div>
                        <div>
                            <label>時間</label>
                            <div>time_variable</div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">キャンセル</button>
                        {#                    <a class="btn btn-primary" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>#}
                        <button class="btn btn-primary" type="button" data-dismiss="modal">設定</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

