{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JnJ ログイン</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'managing/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'managing/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-company-select"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">会社を選択してください:</h1>
                                    </div>



    <form action="{% url 'managing:comp_selected' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for comp in comp_list %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <div class="input-group-text">
                         <input type="radio" name="comp" id="comp{{ forloop.counter }}" value="{{ comp.company_code }}">
                       </div>
                    </div>
                     <label class="form-control" for="comp{{ forloop.counter }}" >{{ comp.company_code }} : {{ comp.company_name }}</label><br>
                 </div>


            {% endfor %}
        </div>
        <input class="btn btn-primary" type="submit" value="会社選択">
    </form>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'managing/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'managing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'managing/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'managing/js/sb-admin-2.min.js' %}"></script>

</body>

</html>



