{% extends 'managing/_layout.html' %}

{% block content %}


    {% if 'sel_comp' in request.session %}
        <h1>{{ request.session.sel_comp }}のデータへようこそ！</h1>

        <h2>Please select <a href="calendar/"><strong>カレンダー機能</strong></a> to check the calendar feature</h2>

    {% endif %}

{% endblock %}

