<h1>The your name input form</h1>

{#<form action="/your-name/" method="post">#}
{#    <label for="your_name">Your name: </label>#}
{#    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">#}
{#    <input type="submit" value="OK">#}
{#</form>#}
<div>Wanna try to <a href="get-name">enter your name?</a></div>