<form action="your-name" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">

    <script type="javascript">
    window.onload = function() {
        document.getElementById("id_your_name").focus();
    }
</script>
</form>

